html {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.smurfCard {
  background-color: sandybrown;
  width: 20%;
  margin: 0 auto;
}

ul {
  padding: 8px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

input {
  width: 20%;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 2px;
}

button {
  width: 10%;
  margin: 0 auto;
}



